{% if allow_add %}
{% spaceless %}
<a class="btn btn-primary new">
    <i class="fa fa-plus"></i>
    {{- ' ' ~ 's2a_bootstrap_collection.add'|trans({}, 'AdmingeneratorFormExtensions') -}}
</a>
{% endspaceless %}
{% endif %}