{% if allow_delete %}
{% apply spaceless %}
<div class="collection-item-actions {{ id ~ '_actions' }}">
    <label class="btn btn-link btn-toggle input-append">
        <input type="checkbox" name="delete" value="1">
    </label>
    <a class="btn btn-danger delete" title="{{ 's2a_bootstrap_collection.delete'|trans({}, 'AdmingeneratorFormExtensions') }}">
        <i class="fa fa-times"></i>
    </a>
</div>
{% endapply %}
{% endif %}