<script id="{{ id ~ '_upload_template' }}" type="text/x-tmpl">
{% verbatim %}
{% for (var i=0, file; file=o.files[i]; i++) { %}
{% endverbatim %}
    <tr class="template-upload fade">
        {% if sortable %}
        <td class="sort"></td>
        {% endif %}
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{% verbatim %}{%=file.name%}{% endverbatim %}</span></td>
        <td class="size"><span>{% verbatim %}{%=o.formatFileSize(file.size)%}{% endverbatim %}</span></td>
        {% verbatim %}
        {% if (file.error) { %}
        {% endverbatim %}
            <td class="error" colspan="2">
                <span class="label label-important">
                {{- 's2a_upload_collection.error'|trans({}, 'AdmingeneratorFormExtensions') -}}
                </span> {% verbatim %}{%=file.error%}{% endverbatim %}
            </td>
        {% verbatim %}
        {% } else { %}
        {% endverbatim %}
            <td colspan="2"></td>
        {% verbatim %}
        {% } %}
        {% endverbatim %}
        <td class="actions">
        {% verbatim %}
        {% if (!i) { %}
        {% endverbatim %}
            <div class="btn-toolbar">
                {% if not autoUpload and uploadRouteName is not empty %}
                <button class="btn btn-primary start">
                    <i class="fa fa-fw fa-upload"></i>
                    <span> {{ 's2a_upload_collection.start'|trans({}, 'AdmingeneratorFormExtensions') }}</span>
                </button>
                {% endif %}
                <button class="btn btn-warning cancel"{% if not autoUpload and uploadRouteName is empty %}style="visibility:hidden;"{% endif %}>
                    <i class="fa fa-fw fa-ban"></i>
                    <span> {{ 's2a_upload_collection.cancel'|trans({}, 'AdmingeneratorFormExtensions') }}</span>
                </button>
            </div>
        {% verbatim %}
        {% } %}
        {% endverbatim %}
        </td>
    </tr>
{% verbatim %}
{% } %}
{% endverbatim %}
</script>
